/.metadata/
/PPilhaEstaticaSequencialLivros/nbproject/private/
/PPilhaEstaticaSequencialLivros/build/
/PFilaDinamicaSimplesmenteEncadeada/nbproject/private/
/PFilaDinamicaSimplesmenteEncadeada/build/
/PPilhaDinamicaSimplesmenteEncadeadaLivros/nbproject/private/
/PPilhaDinamicaSimplesmenteEncadeadaLivros/build/
/PFilaEstaticaSequencial/nbproject/private/
/PFilaEstaticaSequencial/build/
/PListaEstaticaSequencial/target/
/PListaEstaticaSequencialContatos/nbproject/private/
/PListaEstaticaSequencialContatos/build/
/PListaDinamicaEncadeadaContatos/nbproject/private/